* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #dadada;
    overflow: hidden;
}

.wrapper {
    width: 1200px;
}

img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.image {
    width: 22%;
    height: 200px;
    border-radius: 4px;
    overflow: hidden;
}

image:hover img {
    transform: scale(1.2);
}
