* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #dadada;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
}

img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    transition: 0.5s;
}

.image {
    width: 22%;
    height: 200px;
    border-radius: 4px;
    overflow: hidden;
}

.image:hover img {
    transform: scale(1.2);
    z-index: 10;
}
